# Copy to .env and adjust for your deployment.
VITE_MURDOCK_HTTP_BASE_URL=https://ci.riot-os.org
VITE_MURDOCK_WS_URL=wss://ci.riot-os.org/ws/status

VITE_GITHUB_REPO=RIOT-OS/RIOT

VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_GATEKEEPER_URL=https://ci.riot-os.org/github
VITE_GITHUB_REDIRECT_URI=
VITE_GITHUB_SCOPE=read:user

VITE_PRIVACY_URL=https://www.riot-os.org/privacy-policy.html
VITE_ITEMS_DISPLAYED_STEP=25
